#content-container {
  margin-top: 50px;
  width: 400px;
  margin: 50px auto 0 auto;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.fields,
#loginBtn {
  padding: 10px;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid black;
}

#loginBtn {
  border: none;
  font-size: 1em;
  padding: 10px 20px;
  background: #3842BF;
  color: white;
  cursor: pointer;
}

#field-container {
  margin-top: 50px;
}