body {
  margin: 0;
  overflow-x: hidden;
  font-family: 'Josefin Sans', sans-serif;
}

#background {
  position: fixed;
  z-index: -1;
  height: 100vh;
  width: 100vw;
  background: url('./bg.gif');
  background-size: 100vw 100vh;
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

#container {
  height: 100vh;
  display: grid;
  grid-template-areas: 'header' 'content' 'footer';
  grid-auto-rows: 60px 1fr auto;
  color: white;
}

@media screen and (min-width: 700px) {
  #searchBar {
    padding: 10px 20px;
  }
  #search {
    padding: 12px 20px;
  }
  #result-container {
    width: 80%;
  }
  #songList {
    margin: 30px;
    border: 1px solid gray;
    border-radius: 5px;
  }
  #box {
    max-height: 250px;
    width: 60%;
    padding: 30px;
    border: 1px solid lightgray;
  }
  .album {
    width: 30%;
  }
  .albumContainer {
    width: 50%;
  }
  #main-content {
    margin: 0 auto;
  }
  table {
    font-size: 1.3em;
  }
  #content-container {
    width: 400px;
    border: 1px solid lightgray;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  }
  #field-container {
    padding: 0 80px;
  }
  #payment-method-container {
    width: 400px;
  }
  #options {
    display: inline;
  }
}

@media screen and (max-width: 700px) {
  #searchBar {
    padding: 5px;
  }
  #search {
    padding: 12px 10px;
  }
  #box {
    width: 100%;
    border: none;
  }
  .albumContainer {
    width: 80%;
  }
  .album {
    width: 50%;
  }
  #content {
    padding: 0;
  }
  table {
    font-size: 1em;
  } 
  #options {
    display: block;
  }
}

#header {
  grid-area: header;
  background: #3842bf;
  text-align: center;
}

#header-container {
  transform: translate(0, 30%);
}

#title {
  font-size: 2.5em;
  margin: auto;
  color: white;
}

#main-content {
  grid-area: content;
  display: grid;
  grid-template-areas: 'searchBar' 'searchBtn' 'resultContainer';
  text-align: center;
  grid-auto-rows: repeat(1fr, 3) auto;
  width: 100%;
  height: 80%;
  padding: 30px 0;
}

#main-content > div {
  margin-top: 10px;
}

#sub-container {
  background: rgba(255, 255, 255, 0.8);
  padding: 20px 0;
  color: black;
  width: 80%;
  border-radius: 10px;
  margin: auto;
}

#sub-container > div {
  margin: 10px auto;
}

#search-bar-container {
  grid-area: searchBar;
  width: 90%;
}

#search-btn-container {
  grid-area: searchBtn;
}

#result-container {
  grid-area: resultContainer;
  max-height: 450px;
  min-height: 300px;
  width: 90%;
  margin-left: auto;
  border: 1px solid gray;
  border-radius: 5px;
  overflow-y: auto;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  background: rgba(255, 255, 255, 0.8);
  color: black;
}

#searchBar {
  border: none;
  border-bottom: 1px solid #3842bf;
  text-align: center;
  font-size: 1.5em;
  background: inherit;
  width: 80%;
}

#search {
  border: none;
  margin-left: 10px;
  border-radius: 5px;
  background: #3842bf;
  color: white;
  cursor: pointer;
  font-size: 1.3em;
}

#footer {
  grid-area: footer;
  background: black;
  color: white;
  padding: 10px 30px;
  text-align: center;
  bottom: 0;
}

#content-container {
  margin-top: 50px;
  margin: 50px auto 0 auto;
  text-align: center;
  padding: 20px 20px;
  font-size: 1.2em;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  color: black;
}

#songList {
  padding: 10px;
  background: white;
  margin: 20px;
  max-height: 450px;
  min-height: 300px;
  border-radius: 5px;
  overflow-y: auto;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

h1 {
  margin: 0;
}

.fields,
#submitBtn {
  padding: 10px;
  border: none;
  border-bottom: 3px solid black;
  background: inherit;
  font-size: 1.3em;
  margin: 0 auto 30px auto;
}

.fields {
  width: 200px;
}

#submitBtn {
  width: 200px;
}

#submitBtn,
.btn {
  border: none;
  font-size: 1em;
  padding: 10px 20px;
  background: #3842bf;
  color: white;
  cursor: pointer;
  font-family: 'Josefin Sans', sans-serif;
  margin-bottom: 5px;
}

#registerLink,
#loginLink {
  cursor: pointer;
  color: blue;
}

#field-container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 80%;
}

.links {
  cursor: pointer;
  margin: 0;
  font-size: 1.3em;
  padding: 10px;
  margin: 10px;
  background: #3842bf;
  color: white;
  border-radius: 5px;
}

#logout {
  float: right;
  font-size: 1.3em;
}

#profile,
#searchLink {
  float: left;
}

.subLabel {
  margin: 0;
}

table {
  width: 100%;
  padding: 10px;
  border: none;
  border-collapse: collapse;
}

#song-list {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.row {
  width: 1fr;
  word-wrap: break-word;
}

.song-column:hover {
  background: #3842bf;
  color: white;
  padding: 10px;
  transition-duration: 0.3s;
}

#main-column {
  background: black;
  color: white;
}

#box {
  overflow-y: auto;
  margin: auto;
  text-align: center;
  margin: auto;
  margin-bottom: 10px;
  border: none;
}

.albumContainer {
  height: 70px;
  cursor: pointer;
  margin: 20px auto;
}

.album {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  margin: 0 auto;
  font-size: 1.3em;
}

.albumContainer:hover {
  background: blue !important;
  color: white !important;
}

.albumContainer:nth-child(even) {
  background: lightgray;
  color: black;
}

.albumContainer:nth-child(odd) {
  background: gray;
  color: white;
}

#payment-method-container {
  margin-bottom: 30px;
}
