body {
  margin: 0;
}

#container {
  height: 100vh;
  display: grid;
  grid-template-areas: "header" "content" "footer";
  grid-auto-rows: 80px 1fr 100px;
}

#header {
  grid-area: header;
  background: #3842BF;
  text-align: center;
}

#header-container {
  transform: translate(0, 30%);
}

#title {
  width: auto;
  font-size: 2.5em;
  margin: auto;
  color: white;
}

#content {
  grid-area: content;
  background: #fafafa;
  text-align: center;
}

#footer {
  grid-area: footer;
  background: black;
}